@model LanguageDetailViewModel
<div class="main-panel">

    <div class="content">
        <partial name="FilterPartial" model="@Model.FilterInput" />
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">@Html.Lang("ADMIN_LANGUAGE_PAGE")</h4>
                        </div>

                        <div id="mainList" class="card-body">
                            <partial name="MainListPartial" model="@Model.PagingResult" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade bd-example-modal-sm" id="input-area" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

</div>

@section scripts{
    <script asp-append-version="true" src="~/admin/js/pages/languageDetail.js"></script>
    <partial name="JsPartial" />
    <script>
        @*switch ('@Model.UpdateResult') {
            case '@ConstantConfig.WebApiResultMessage.UpdateSuccess':
                showSuccessNotification('@Html.Lang("LBL_UPDATE_SUCCESS_MESSAGE")');
                break;
            case '@ConstantConfig.WebApiResultMessage.Error':
                showErrorNotification('@Html.Lang("LBL_ERROR_MESSAGE")');
                break;
            case '@ConstantConfig.WebApiResultMessage.UpdateTokenNotMatch':
                showWarningMessage('@Html.Lang("LBL_ERROR_MESSAGE")');
                break;
        }*@
        
    </script>
}

