@model WebCore.Services.Share.Admins.Languages.Dto.LanguageFilterInput
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">@Html.Lang("LBL_FILTER")</h4>
        </div>
        <div class="card-body">
            <form id="filter" asp-action="SaveFilter">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">@(Html.LangFor<Language>(x => x.LangCode))</label>
                            <input asp-for="LangCode" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">@(Html.LangFor<Language>(x => x.LangName))</label>
                            <input asp-for="LangName" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right">@Html.Lang("LBL_FILTER_BUTTON")</button>
                <button type="button" class="btn btn-primary pull-right reset-button">@Html.Lang("LBL_FILTER_RESET")</button>
            </form>
        </div>
    </div>
</div>