@model WebCore.Services.Share.Admins.Users.Dto.UserInfoInput


<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">@Html.Lang("LBL_USER_INFO")</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="card-body">
            <form data-noreload="true"
                  data-on-submit-done="onInputSubmitDone"
                  data-on-submit-fail="onInputSubmitFail"
                  method="post"
                  asp-action="InputInfoPartial"
                  id="saveInputForm">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                            <input asp-for="Id" type="hidden" class="form-control">
                            <input asp-for="UpdateToken" type="hidden" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">@(Html.LangFor<WebCoreUser>(x => x.FirstName, "WebUser"))</label>
                            <input asp-for="FirstName" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">@(Html.LangFor<WebCoreUser>(x => x.LastName, "WebUser"))</label>
                            <input asp-for="LastName" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">@(Html.LangFor<WebCoreUser>(x => x.JoinDate, "WebUser"))</label>
                            <input asp-for="JoinDate" class="form-control datepicker">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">@(Html.LangFor<WebCoreUser>(x => x.Carrer, "WebUser"))</label>
                            <input asp-for="Carrer" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">@(Html.LangFor<WebCoreUser>(x => x.Address, "WebUser"))</label>
                            <input asp-for="Address" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">@(Html.LangFor<WebCoreUser>(x => x.PhoneNumber, "WebUser"))</label>
                            <input asp-for="PhoneNumber" type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">@(Html.LangFor<WebCoreUser>(x => x.Email, "WebUser"))</label>
                            <input asp-for="Email" type="email" class="form-control">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">@Html.Lang("LBL_CLOSE")</button>
            <button type="button" onclick="$('#saveInputForm').submit()" class="btn btn-primary">@Html.Lang("LBL_SAVE")</button>
        </div>
    </div>
</div>
<partial name="_ValidationScriptsPartial" />