@model PagingResultDto<WebCore.Services.Share.Admins.Users.Dto.UserDto>
<div class="table-responsive">
    <table class="table">
        <thead class=" text-primary">
            <tr>
                <th>
                    @Html.Lang("LBL_ACTION")
                </th>
                <th>
                    @(Html.LangFor<WebCoreUser>(x => x.UserName, "WebUser"))
                </th>
                <th>
                    @(Html.LangFor<WebCoreUser>(x => x.FirstName, "WebUser"))
                </th>
                <th>
                    @(Html.LangFor<WebCoreUser>(x => x.LastName, "WebUser"))
                </th>
                <th>
                    @(Html.LangFor<WebCoreUser>(x => x.Carrer, "WebUser"))
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td class="nav-item dropdown">
                        @if (item.RecordStatus != ConstantConfig.UserRecordStatus.InActive)
                        {
                            <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">settings</i>
                                    <p class="d-lg-none d-md-block">
                                        @Html.Lang("LBL_ACTION")
                                    </p>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <div onclick="openUpdateModal('@item.Id')" class="dropdown-item">
                                        <i class="material-icons">create</i>
                                        <p>
                                            @Html.Lang("LBL_WEBUSER_UPDATE_INFO")
                                        </p>
                                    </div>
                                    <div onclick="openResetPasswordModal('@item.Id')" class="dropdown-item">
                                        <i class="material-icons">refresh</i>
                                        <p>
                                            @Html.Lang("LBL_WEBUSER_RESET_PASSWORD")
                                        </p>
                                    </div>
                                    @if (Html.HasPermission(ConstantConfig.ClaimValue.BlockUser))
                                    {
                                        <div onclick="lockUser('@item.Id')" class="dropdown-item">
                                            <i class="material-icons">lock</i>
                                            <p>
                                                @Html.Lang("LBL_WEBUSER_INACTIVE")
                                            </p>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            @if (Html.HasPermission(ConstantConfig.ClaimValue.BlockUser))
                            {
                                <div class="dropdown-item">
                                    <i class="material-icons">unlock</i>
                                    <p>
                                        @Html.Lang("LBL_WEBUSER_ACTIVE")
                                    </p>
                                </div>
                            }
                        }

                    </td>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.FirstName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.Carrer
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <custompager pager-model="@Model" />
</div>